# Default ignored files
/shelf/
/.idea
/.gradle
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/infrastructure/application/build
