.main-content {
    padding: 16px;
}

.form-item {
    margin-bottom: 16px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #334152;
    padding: 16px;
}

.header__title {
    color: #ffffff;
    cursor: pointer;
    margin: 0;
}
